/*D3 DEMO*/

/*classes use . */
.container{
	background-color: #c7beb4;
}

/*use fill when using svg*/
.rectangle{
	fill: #ffffff;
}

.circles{
	fill: #e95434;
}

.axis path,
.axis line{
	fill: none;
	stroke: black;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.6em;
}
.title {
	font-family: sans-serif;
	font-size: 28px;
}

.labels {
	font-family: sans-serif;
	font-size: 12px;
}